<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.royadmiraal.planningpoker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AanmakenActivity"
            android:label="@string/title_activity_aanmaken"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SessieEigenschappenActivity"
            android:label="@string/title_activity_sessie_eigenschappen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeelnemenActivity"
            android:label="@string/title_activity_deelnemen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultatenActivity"
            android:label="@string/title_activity_resultaten"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".SpeelveldActivity"
            android:label="@string/title_activity_deelnemenSpeelveld"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TaakToevoegenActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
